@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    margin: 0px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #0b0b0d !important; 
}

.ProffesionalPlayersDota2{
    text-align: center;
    color: #fff;
}
.topBlockHeader{
    background-color: rgb(58, 58, 58);
    padding: 5px;
    margin-top: 10px;
}
.topBlockHeader h1{
    font-size: 25px;
    margin: 0px;
    font-weight: 400;
}
.contentTopheader ul{
    list-style: none;
    margin-right: 50px;
}
.contentTopheader ul li a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    padding: 0px 20px;
}
.contentTopheader ul li a:hover{
    color: #fff;
    transition: 0.2s;
}
.contentTopheader ul li span a{
    color: aqua;
}
.dude{
    margin: 0px 150px;
    background-color: #151516;
}
.contentPlayersCards{
    padding: 5px;
    background-color: #212125;
}
.inputsTopheader{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}
.inputNickplayer input{
    width: 200px;
    margin-right: 30px;
    font-size: 12px;
    height: 30px;
    margin-top: 1px;
    padding-left: 30px;
    border-radius: 3px;
    outline: none;
    background-color: #454549;
    border: none;
    color: #fff;
}
.contentSelect select{
    width: 170px;
    height: 30px;
    margin-top: 1px;
    font-size: 13px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #303038;
    color: #fff;
}
.GeneralBlockPlayers{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.082);
    padding-right: 10px;
}
.GeneralBlockPlayers:hover{
    background-color: rgba(12, 12, 12, 0.068);
    border: 1px solid rgba(0, 0, 0, 0.205);
}
.GeneralBlockPlayers ul li{
    color: rgb(177, 177, 177);
}
.GeneralBlockPlayers ul{
    list-style: none;
    margin: 0px;
}
.GeneralBlockPlayers ul li{
    margin: 0px;
}
.GeneralBlockPlayers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playerBlock{
    display: flex;
    color: rgb(177, 177, 177);
}
.playerBlock img {
    width: 50px;
}
.teamPlayers img{
    width: 30px;
}
.teamPlayers{
    display: flex;
    color: rgb(177, 177, 177);
}
.teamPlayers p{
    margin: 5px 0px;
    position: relative;
    left: 5px;
}
/* img */

.imgplayersCards{
    width: 55px;
    position: relative;
    bottom: 5px;
    right: 30px;
}
.imgTeamPlayersCards{
    width: 30px;
    position: relative;

}
.GeneralBlockPlayers{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
/*  */

.lolone{
    display: flex;
    padding: 0px 2px;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    margin-top: 10px;
}
.lolone p{
    margin: 0px;
    padding: 5px;
    color: rgb(194, 194, 194);
}
.one_p{
    position: relative;
    left: 50px;
}
.two_p{
    position: relative;
    left: 35px;
}
.three_p{
    position: relative;
    left: 25px;
}
.for_p{
    position: relative;
    left: 0px;
}
.five_p{
    position: relative;
    right: 30px;
}
.six_p{
    position: relative;
    right: 30px;
}

/*  */

.playerBlock p {
    padding-left: 7px;
}
.playerBlock a{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.playerBlock a:hover{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.btnMore{
    padding: 7px 25px;
    background-color: rgb(30, 26, 34);
    outline: none;
    color: rgb(133, 129, 129);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}